/RS_system/obj/
/RS_system/obj/Debug/
.claude/
.qwen/
.idea/
/RS_system/.idea/
/RS_system/bin/
/Reports.PdfEngine/bin/
/Reports.PdfEngine/obj/
/Reports.PdfEngine.Tests/bin/
/Reports.PdfEngine.Tests/obj/
